<h1> <%= @child.name %>'s Page </h1>
<br>
<br>
Photo
<%= image_tag @child.avatar.url(:medium) %>
<br>
<br>
Schedule
<br>
<br>
Calendar
<br>
<br>
Status
<br>
<br>
School > Homework
<br>
<br>
CheckOff List
